# Configuration du serveur
PORT=3000
NODE_ENV=development

# Configuration de la base de données PostgreSQL
DB_HOST=localhost
DB_NAME=cinneconnect
DB_USER=root
DB_PASSWORD=KA95!

# Configuration JWT
JWT_SECRET=votre_secret_jwt_super_securise_changez_moi_en_production
JWT_EXPIRES_IN=7d

# Configuration CORS
FRONTEND_URL=http://localhost:5173

# Configuration Mailer (SMTP)
MAILER_TRANSPORT=smtp

